<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand ms-4" href="#"><img id="logo" src="./images/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav navbar-items ms-4">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link text-danger" href="#menu">Menu</a>
      <a class="nav-item nav-link text-danger" href="order">Order Now</a>
      <a id="login" class="nav-item nav-link text-danger" href="login">Login</a>
    </div>
    <div>
      <!-- <img id="userImage" src="" alt=""> -->
      <h5 id="user" class="text-light me-5"></h5>
    </div>
  </div>
</nav>

<script type="module">
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-app.js";
  import { getAuth } from "https://www.gstatic.com/firebasejs/9.10.0/firebase-auth.js";


  const firebaseConfig = {
    apiKey: "AIzaSyDBbYqxTrmkp-lIZ3RpPAakDkq-yCtKhro",
    authDomain: "brrrgrrr-30225.firebaseapp.com",
    databaseURL: "https://brrrgrrr-30225-default-rtdb.asia-southeast1.firebasedatabase.app",
    projectId: "brrrgrrr-30225",
    storageBucket: "brrrgrrr-30225.appspot.com",
    messagingSenderId: "1025505294372",
    appId: "1:1025505294372:web:42ea9791e2a12c2ead00b1",
    measurementId: "G-6BEXHLB17H"
  };
  const firebase = initializeApp(firebaseConfig)
  const auth = getAuth(firebase);
  auth.onAuthStateChanged((user) => {
    if (user) {
      // User is signed in.
      console.log(user);

      $("#user").html(`Welcome <a id="username" class="nav-item nav-link d-inline"href="/profile">${auth.currentUser.displayName}</a>`);
      $("#login").hide();
      $("#username").hover(() => {
        // over
        $("#username").addClass("link-light");
        $("#username").removeClass("nav-link")

      }, () => {
        // out
        $("#username").addClass("nav-link")
        $("#username").removeClass("link-light")
      }
      );
    } else {
      // No user is signed in.
      $("#user").hide();
    }
  });


</script>