body {
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
}

form{
    margin-top: 2rem;
    /* height: 100vh; */
}
h1{
    font-size:3rem
}

.logo{
    max-width: 12.5rem;
    
    margin-bottom:1.3rem;
}
.ph{
    font-size: 1.4rem;
}
.login-form, .signup-form{
    width: 35%;
    position: absolute;
    height: 100vh;
    overflow-y:auto;
    

}
@media only screen and (max-width: 615px) {
    .login-form, .signup-form{
        width: 100%;
    }
    p{
        display: block;
        text-align: end;
        margin: 1rem 0;
    }
    button{
        display: block;
        width: 100%;
    }
}